body{
    background-color: rgba(0, 167, 80, 0.5);
    height: 1000px;
}

.lb-container{
    margin-top: 80px;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    padding: 25px;
    max-width: 600px;
}

.leaderboard{
    border-color: black;
    /*color: white;*/
    max-width: 600px;
}

.text{
    margin-top: 100px;
    text-align: center;
}

.button-container{
    margin-top: 30px;
    text-align: center;
}