body{
    height: 1500px;
    background-color: rgba(0, 167, 80, 0.5);
}

.c-item{
    height: 480px;
}

.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}
.begin a{
    text-decoration: none;
    color: white;
}

.welcome{
    text-align: center;
    margin-top: 100px;
    color: white;
}

#username{
    margin: 40px;
    padding: 0 7px;
    width: 21%;
    border: none;
    border: 2px white solid;
    border-radius: 5px;
    color: white;
    background: rgba(0, 167, 80, 0);
    transition: 0.15s;
}
#username:focus{
    outline: none;
    border-color: #00A850;
    color: #00A850;
}
#username:hover{
    outline: none;
    border-color: #00A850;
    color: #00A850;
}

#start{
    width: 21%;
    font-weight: bold;
    color: white;
    background: rgba(0, 167, 80, 0);
    border: 2px white solid;
    border-radius: 5px;
    padding: 5px;
    transition: 0.15s;
}
#start:hover{
    cursor: pointer;
    border-color: #00A850;
    color: #00A850;
}
#start:active{
    opacity: 0.5;
}